sudo: required
services: 
    - docker
language: cpp
compiler: g++
install:
    - if [ $TRAVIS_OS_NAME == osx ]; then 
           brew update 
        && brew unlink  openssl 
        && brew install openssl 
        && brew link --force openssl
        && brew unlink  cmake
        && brew install cmake 
        && brew link --force cmake;
      fi
script: 
    - if [ $TRAVIS_OS_NAME == osx ]; then 
             mkdir build 
          && cd build 
          && cmake .. 
          && make 
          && make test;
      fi
    - if [ $TRAVIS_OS_NAME == linux ]; then 
             mkdir build
          && docker build -t campx/hashix . 
          && docker run -v $PWD:/work/source/ -v $PWD/build:/work/build
             --privileged -it campx/hashix;
      fi
branches:
    only:
    - master
notification:
    email: true
os:
- linux
- osx
