image: Visual Studio 2017

platform:
  - x86
  - x64

configuration:
  - Debug
  - Release

install:
  - git submodule update --init --recursive

before_build:
  - cmake -G"Visual Studio 15 2017 Win64"

build:
  project: ALL_BUILD.vcxproj
  verbosity: minimal

test_script:
  - ctest -C %CONFIGURATION%

cache:
  - C:/.hunter
